<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(PLUG_GOOGLE_REVERSED_CLIENT_ID)</string>
			</array>
		</dict>
	</array>
	<key>GIDClientID</key>
	<string>$(PLUG_GOOGLE_IOS_CLIENT_ID)</string>
	<key>GIDServerClientID</key>
	<string>$(PLUG_GOOGLE_SERVER_CLIENT_ID)</string>
	<key>PlugAppleSignInEnabled</key>
	<string>$(PLUG_APPLE_SIGN_IN_ENABLED)</string>
	<key>PlugPhoneSignInEnabled</key>
	<string>$(PLUG_PHONE_SIGN_IN_ENABLED)</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIImageName</key>
		<string>PlugMark</string>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
	</dict>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIUserInterfaceStyle</key>
	<string>Light</string>
</dict>
</plist>
